[Unit]
Description=Idle management daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=300
StartLimitBurst=20

[Service]
Type=simple
ExecStart=/usr/bin/hypridle
Restart=always
RestartSec=2
Slice=session.slice

[Install]
WantedBy=hyprland-session.target
